.table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
  border: none;
}

/* td,
th {
  border-top: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
} */
